# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Windows
desktop.ini
Thumbs.db
ehthumbs.db

# OS
.DS_Store
